@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Roboto&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #000000;
}

.button {
  opacity: 0.8;
  color: white;
  letter-spacing: 2px;
  font-size: 15px;
}
.button:hover {
  opacity: 1;
  cursor: pointer;
}

.icon {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-size: 46px;
  letter-spacing: 2px;
  font-weight: bold;
}

.navbar {
  height: 100px;
  min-height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  z-index: 999;
}
.navbar .navbar__title {
  font-size: 46px;
  letter-spacing: 2px;
}
.navbar .navbar__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
  .navbar .navbar__title {
    font-size: 23px;
  }
  .navbar .navbar__buttons {
    flex-direction: column;
    gap: 0px;
  }
}
.main-section {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.main-section .helloMain {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.main-section .helloMain .helloMain__title {
  font-size: 92px;
  font-family: "PT Serif", serif;
}
.main-section .helloMain .helloMain__text {
  text-align: center;
  font-size: 23px;
  letter-spacing: 2px;
  margin-bottom: 200px;
}

@media screen and (max-width: 850px) {
  .main-section .helloMain .helloMain__title {
    font-size: 46px;
  }
  .main-section .helloMain .helloMain__text {
    font-size: 15px;
  }
}
.about-section {
  height: 950px;
  width: 100%;
}
.about-section .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.about-section .about .about__icon {
  height: 150px;
  width: 150px;
  margin-top: 100px;
}
.about-section .about .about__personal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.about-section .about .about__personal .about__personal--name {
  font-size: 46px;
}
.about-section .about .about__personal .about__personal--profession {
  letter-spacing: 3px;
}
.about-section .about .about__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  font-size: 19px;
}
.about-section .about .about__paragraph .about__paragraph--header {
  font-size: 19px;
}
.about-section .about .about__paragraph .about__paragraph--text {
  font-size: 19px;
}

@media screen and (max-width: 700px) {
  .about-section {
    height: auto;
  }
  .about-section .about .about__personal .about__personal--name {
    font-size: 23px;
  }
  .about-section .about .about__paragraph {
    width: 80%;
  }
  .about-section .about .about__paragraph .about__paragraph--header {
    font-size: 19px;
  }
  .about-section .about .about__paragraph .about__paragraph--text {
    font-size: 19px;
  }
}
.projects-section {
  width: 100%;
}
.projects-section .projects__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 75px;
}
.projects-section .projects__desc .projects__header--text a {
  opacity: 0.7;
}
.projects-section .projects__desc .projects__header--text a:hover {
  opacity: 1;
}
.projects-section .projects__cards {
  height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.projects-section .projects__cards .projects__projectCard {
  height: 350px;
  width: 24.7vw;
  margin: 1px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  cursor: pointer;
  filter: contrast(110%);
}
.projects-section .projects__cards .projects__projectCard .projects__projectCard--name {
  font-size: 23px;
  font-weight: bold;
}
.projects-section .projects__cards .projects__projectCard .projects__projectCard--text {
  font-size: 19px;
}
.projects-section .projects__cards .projects__projectCard:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 975px) {
  .projects-section {
    margin-top: 50px;
  }
  .projects-section .projects__header--title {
    font-size: 23px;
  }
  .projects-section .projects__header--text {
    font-size: 19px;
    width: 80%;
    text-align: center;
  }
  .projects-section .projects__cards {
    flex-wrap: nowrap;
    align-items: center;
  }
  .projects-section .projects__cards .projects__projectCard {
    width: 99%;
    height: 700px;
  }
  .projects-section .projects__cards .projects__projectCard .projects__projectCard--name {
    font-size: 23px;
  }
  .projects-section .projects__cards .projects__projectCard .projects__projectCard--text {
    font-size: 19px;
  }
}
.contact-section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact .contact__linksWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-section .contact .contact__linksWrapper .contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.contact-section .contact .contact__linksWrapper .contact__link .contact__link--icon {
  width: 25px;
  height: 25px;
}
.contact-section .contact .contact__added {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: 1px;
  opacity: 0.5;
}

@media screen and (max-width: 975px) {
  .contact-section {
    margin-top: 150px;
  }
}

/*# sourceMappingURL=output.css.map */
