.aboutTemplate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;

    .aboutCard__profile {
        margin-top: 100px;
        width: 150px;
        height: 150px;
    }

    .aboutTemplate__personal {
        @include flex-center;
        margin-bottom: 50px;
        flex-direction: column;
        .aboutTemplate__personal--name {
            font-size: $size-xl;
        }
    
        .aboutTemplate__presonal--profession {
            letter-spacing: 2px;
        }
    }

    .aboutTemplate__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        font-size:$size-m;
        .aboutTemplate__card--header {
            font-size:$size-m;
            letter-spacing: 0px;
        }
        .aboutTemplate__card--text {   
            font-size: $size-m;
        }
    }
}

@media screen and (max-width:700px) {
    .aboutTemplate {
    .aboutTemplate__personal {
        .aboutTemplate__personal--name {
            font-size: $size-l;
        }
    
        .aboutTemplate__presonal--profession {
            letter-spacing: 2px;
        }
    }
    
    .aboutTemplate__card {
        width: 80%;
        .aboutTemplate__card--header {
            font-size:$size-m;
            letter-spacing: 0px;
        }
        .aboutTemplate__card--text {   
            font-size: $size-m;
        }
    }

}
}