.helloCard {
  height: 90%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;

  .helloCard__content {
    height: 70%;
    @include flex-center;
    flex-direction: column;

    .helloCard__content--title {
      font-size: $size-xxl;
      font-family: "PT Serif", serif;
    }

    .helloCard__content--desc {
      text-align: center;
      font-size: $size-l;
      letter-spacing: 2px;
    }
  
  }

  .helloCard__icon {
    height: 50px;
    width: 50px;
    position:relative;
    padding-top: 200px;
    animation-name:arrow_bounce;
    animation-duration:1s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:5;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width:850px) {
  .helloCard {
    .helloCard__content {
      .helloCard__content--title {
        font-size:$size-xl;
      }

      .helloCard__content--desc {
        font-size:$size-s;
      }
    }

    .helloCard__icon {
      display: none;
    }
  }
}


@keyframes arrow_bounce {
  0% {top:0px}
  25% {top:-25px}
  50% {top:-50px}
  75% {top:-25px}
  100% {top:0px;visibility: hidden;}
}