.navbar {
    height: 100px;
    width: 100%;
    position: sticky;
    top:0;
    @include flex-center;
    justify-content: space-around;
    background-color: black;
    color:white;
    transition: 0.1s ease-in-out;
    min-height: 60px;
    z-index: 999;
    .navbar__title {
        font-size: $size-xl;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:500px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        .navbar__title {
            font-size:$size-l;
        }
    }
}