.section {
  width: 100%;
}

.main {
  @include flex-center;
  height: calc(100vh - 100px);
  background-color: black;
}

.about {
  height: 950px;
  background-color: white;
}

.projects {
    .projects__desc {
        @include flex-center;
        flex-direction: column;
        margin-bottom:75px;

        .projects__desc--desc {
            a {
                opacity: 0.7;
                &:hover {
                    opacity: 1;
                }
                &:active {
                    text-decoration: underline;
                }
            }
        }
    }
  .projects__wrapper {
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .projects__row {
      display: flex;
    }
  }
}

.footer {
  height: 300px;
  width: 100%;
  @include flex-center;
}


@media screen and (max-width:975px) {
    .about {
        height: auto
    }
    .projects {
        margin-top: 50px;
        .projects__desc--title {
            font-size:$size-l;
        }

        .projects__desc--desc {
            font-size:$size-m;
            width: 80%;
            text-align: center;
        }
        .projects__wrapper {
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    .footer {
      margin-top: 150px;
    }
}